.card {
  width: 16rem;
  margin: 0.5rem;
}
.card-header {
  background-color: #463ec2;
  color: white;
  text-align: center;
}

.button {
  background-color: #463ec2;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #3a32a2;
}
